<article class="mt-7 rounded-2xl border-0 shadow">
  <a href="blog-single.html">
    <img alt="The Real Product From the Buyers improvements in Overflow basis." class="h-auto max-w-full rounded-t-[18px]" width="570" height="335" src="images/blog/@@image" loading="lazy" decoding="async"></a>
  <div class="px-[1.875rem] pb-[0.625rem] pt-[2.1rem]">
    <h3 class="card-title h4 mb-2 font-semibold hover:underline">
      <a href="blog-single.html">@@title</a>
    </h3>
    <p class="mb-4 text-text">Laoreet mauris odio ut nec. Nisl, sed adipiscing dignissim arcu placerat ornare pharetra nec in. Ultrices in nisl potenti vitae tempus. Auctor consec...</p>
  </div>
  <div class="card-footer border-t-0 bg-transparent px-[1.875rem] pb-[2.1rem]">
    <div class="card-author">
      <div class="flex items-center">
        <div class="user-image mr-4">
          <a href="author-single.html">
            <img alt="Abdullah Al Shifat" class="max-w-full rounded-full" width="70" height="70" src="images/author/abdullah.jpg" loading="lazy" decoding="async">
          </a>
        </div>
        <div class="user-info">
          <p class="mb-0 font-medium">
            <a href="author-single.html">Abdullah Al Shifat</a>
          </p>
          <span>April 4, 2022 - 02 Mins read</span>
        </div>
      </div>
    </div>
  </div>
</article>